@page
@model APP.Pages.Auth.ChangePasswordModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Change Password";
}
<head>
    <style>
        .form-container {
            width: 300px;
            margin: 0 auto;
        }

        .form-field {
            margin-bottom: 10px;
        }

            .form-field label {
                display: block;
                margin-bottom: 5px;
            }

            .form-field select,
            .form-field input[type="text"],
            .form-field input[type="number"] {
                width: 100%;
                padding: 5px;
            }

            .form-field input[type="submit"] {
                background-color: #4CAF50;
                color: white;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }

                .form-field input[type="submit"]:hover {
                    background-color: #45a049;
                }
    </style>
</head>
<body>
    <div class="form-container">
        @if (Model.OperationResult != null)
        {
            @if (Model.OperationResult.Status == BusinessObject.Common.CommonStatus.Success)
            {
                <span style="color:green">Change password successfully!</span>
            }
            else
            {
                <span style="color:red"> @Model.OperationResult.ResultMessage</span>
            }
        }

        <form id="myForm" asp-page="changepassword" asp-page-handler="create" method="post">
            <div class="form-field">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>

            <div class="form-field">
                <label for="oldPassword">Old Password:</label>
                <input type="password" id="oldPassword" name="oldPassword" required>
            </div>

            <div class="form-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-field">
                <label for="confirmPassword">Confirm password:</label>
                <input type="password" id="confirmPassword" required>
            </div>          

            <div class="form-field">
                <input type="submit" value="Submit">
            </div>
        </form>
        <p><a asp-page="../Auth/Login">Login here</a></p>
    </div>
</body>
<script>
    document.getElementById("myForm").addEventListener("submit", function (event) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (password !== confirmPassword) {
            event.preventDefault(); // Prevent form submission
            alert("Password and Confirm Password must match!");
        }
    });
</script>
